<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node name="multi_plane_estimate" pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/OrganizedMultiPlaneSegmentation"
        output="screen">
    <remap from="~input" to="transformer/output" />
    <rosparam>
      max_curvature: 0.01
      estimate_normal: true
      min_size: 300
    </rosparam>
  </node>
  <node name="demo_rviz" pkg="rviz" type="rviz"/>
  <include file="$(find 
  "/head_camera/depth_registered/points"

</launch>

